<div class="slide slide-9">
    <h1>That's it!!!</h1>
    <hr>
    <h2>Any Questions?</h2>
    <br>
    <h2>Resources</h2>
    <a href="http://lawsonry.com/2014/05/diy-angularjs-seo-with-phantomjs-the-easy-way">
        <h3>
            <div>DIY AngularJS SEO with PhantomJS (the easy way!)</div>
            <div>(http://lawsonry.com/2014/05/diy-angularjs-seo-with-phantomjs-the-easy-way)</div>
        </h3>
    </a>
    <a href="http://prerender.io"><h3>Prerender.io</h3></a>
    <a href="https://github.com/AngularJSChicago/AngularJS-SEO">
        <h3>
            <div>AngularJS-SEO repo on AngularJSChicago GitHub</div>
            <div>(https://github.com/AngularJSChicago/AngularJS-SEO)</div>
        </h3>
    </a>
</div>